body {
    background-image: url("https://image.slidesdocs.com/responsive-images/background/blue-future-dynamic-big-data-cyberspace-texture-3d-powerpoint-background_b7bc70aed2__960_540.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    -ms-flex-align: center;
    background-color: rgba(6, 66, 150, 0.748);
    color: #0c090d;
    text-align: center;
    padding: 30px 10%;
    padding-bottom: 100px;
}

header {
    background-image: url("https://img.freepik.com/premium-photo/abstract-colorful-color-background-wallpaper-with-polygons-triangles-concave-geometries_989263-9050.jpg");
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    text-decoration: color-mix(in oklch increasing hue, color percentage, color percentage);
    text-decoration: none
    color: rgb(0, 0, 0);
    padding: 50px 10%;
    border-radius: 50px;
    border: shadow 0 30px 20px #f2dede;
}

img {
    float: right;
    border: radius 50%;
    width: 220px; 
    height: 220px;
    border-radius: 50% 30% 50% ;
    border: 8px solid rgba(12, 246, 121, 0.888); 
    box-shadow: 0 8px 10px #a4c100c2; 
    transform: rotateX('360deg');
    transition: 3s;
}
img{
    transform: rotate3d(360deg);
}

header h1 {
    text-decoration: dotted;
    font-size: 70px;
    margin: 10px 0;
}

nav a {
    color: #bbfd06;
    margin: 20px;
    text-decoration: rgb(6, 190, 138);
    font-weight: bold;
    border-radius: 40px;
    transition: color 0.3s;
}

nav a:hover {
    transform: scale(1.1);
    text-decoration: underline;
    color: rgb(6, 181, 187);
}


section {
    margin: 4rem 0;
    background-image: url(https://eskipaper.com/images/green-abstract-background-2.jpg);
    padding: 10%;
    border-radius: 100px;
    box-shadow: 0 0 15px rgba(17, 10, 163, 0.5);
}

.project-card {
    margin: 2rem 0;
    padding: 1.7em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(175, 4, 4, 0.2);
    transition: transform 0.3s;
}

.project-card:hover {
    background-color: #010132;
    transform: scale(1.05);
}

.social-links a {
    margin: 0 20px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.social-links a:hover {
    text-decoration: underline;
    color: #007bff;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 6px solid #ea1a1a;
}

th {
    background-color: #4b0202;
    color: #ed1a1a;
}

footer {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    position: fixed;
    left: 0;
    width: 100%;
    bottom: 0;
}

@media (max-width: 800px) {
    body {
        padding: 20px 5%;
        padding-bottom: 100px;
    }

    header h1 {
        font-size: 50px;
    }
}
